@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face{
  font-family: 'poppins-semibold';
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
}
